<meta charset="UTF-8">
<title>Books For Sale</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="">
<style>
    body    { padding-top:10px; }
   h1 {
        width: 1025px ;
        height: 120px ;
        color: #000 ;
        background-color: lightblue ;
        text-align: center;
    }
    #line {
        color: lightblue;
    }
    body{
        background-color: lightgrey;
    }
    #search{
        text-align: center;
    }
</style>
